canvas {
  position: relative;
  z-index: 1;
  width: 100%;
}
.button-row {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around; /* или space-between */
  z-index: 10;
  padding: 0 10px;
  box-sizing: border-box;
}
.button-row button {
  flex: 1;           /* равномерное распределение ширины */
  margin: 0 5px;     /* отступы между кнопками */
  max-width: 150px;  /* ограничение максимальной ширины кнопки (по желанию) */
  
    border: 3px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 30px;
    transition: 0.2s;
    margin-right: auto;
    
    color: rgb(25, 122, 12);
}
.button:hover {
    background-color: rgb(25, 122, 12);
    color: #fff;
    border: 3px solid rgb(25, 122, 12);
    box-shadow: 10px 10px 100px 6px rgb(25, 122, 12);
}
.text {
    color: #fff;
}
.neon-text {
    font-size: 40px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}
body {
    background-color: #010a01;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}