div{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    flex-direction: row;
}
body {
    background-color: #010a01;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.neon-text{
    font-size: 40px;
    color: #fff;
    text-shadow: 
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
.text{
    color: #fff;
}
canvas {
width: 90%;
}

button {
    /*
    width: 20%;
    height: 8%;
    margin-top: 2%;
    */
    /*
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    */
    border: 1px solid;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 30px;
  padding: 15px 30px;
  transition: 0.2s;
  margin-right: 100px;
}
.button {
    color: rgb(25, 122, 12);
  }
  
  .button:hover {
    background-color: rgb(25, 122, 12);
    color: #fff;
    border: 1px solid rgb(25, 122, 12);
    box-shadow: 10px 10px 100px 6px rgb(25, 122, 12);
  }
/*
body {
  margin: 0;
}
canvas {
        width: auto;
        height: auto;
		margin-right: auto;
		margin-left: auto;
		display: block;
}
button{
		margin-right: auto;
		margin-left: auto;
		display: block;
		font-family: Arial,Helvetica,sans-serif;
		font-size: 100px;
	}
*/